*{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.skewed{
    transform: translateY(50px) skew(15deg, 5deg);
    margin:15px;
}
/*when hovering over this word, let it rotate by 45 deg clockwise*/
h4:hover{
    /*transform: translate(1em, 1em) rotate(-15deg) scale(1.5, 0.25);*/
    color:red;
    transform: rotate(15deg);
}
h3, h2{
    margin:10px;
}

p, li{
    padding: 10px;
}
.box {
    width: 250px;
    height: 250px;
    background: red;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
  }
  
  .box:hover {
    background-color: green;
    cursor: pointer;
  }