*{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.skewed{
    transform: translateY(50px) skew(15deg, 5deg);
    margin:15px;
}
/*when hovering over this word, let it rotate by 45 deg clockwise*/
h4:hover{
    /*transform: translate(1em, 1em) rotate(-15deg) scale(1.5, 0.25);*/
    color:red;
    transform: rotate(15deg);
}
h3, h2{
    margin:10px;
}

p, li{
    padding: 10px;
}
.box {
    width: 250px;
    height: 250px;
    background: red;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
  }
  
  .box:hover {
    background-color: green;
    cursor: pointer;
  }
  /*transition-duration is the time it takes to go from default state to the
  transitioned state. 
  200ms(or 0.2s) is generally considered the optimum time for a transition; anything slower
  will make the website seem slow*/
  .trans{
      border:1px solid red;
      background-color: cornflowerblue;
      width:80%;
      margin:auto;
  }
  /*note: shorthand for below is written like this
  .trans:hover{
      transition: transform 5s linear 50ms;}*/
  .trans:hover{
      background-color: darkgreen;
      color:white;
      transition-property: transform, color;
      transition-duration: 5s;
      transition-timing-function: linear;
      transition-delay: 50ms;
  }